.login{
    background-color:#19489fde;
    height:100vh;
    width:100vw;
    display:grid;
    place-items: center;
}

.login__container {
    padding:100px;
    background-color:white;
    border-radius:10px;
    text-align: center;
    box-shadow:1px 6px 12px rgba(0, 0, 0, 0.657);
}

.image{
    object-fit: contain;
    height:200px;
}

 .login__btn {
    margin-top:50px !important;
    text-transform: inherit !important;
    background-color:#19479F !important;
    color:white !important;
    box-shadow:1px 6px 12px rgba(0, 0, 0, 0.349);
}
.login__btn:hover {
    background-color:#19489fde !important;
}